:root{
    --text-color--:rgb(112, 102, 102);
    --container-color:rgb(252, 243, 206);
    --logo-color--:orange;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.title{
    text-transform: uppercase;
    font-size: 45px;
    color:blue;
}
.container{
    background-color:var(--container-color);
}
.images{
    width:480px;
    margin-left:-90px;
    margin-top: -80px;

}
.logo{
    color:rgb(247, 30, 102);
    font-size: 35px;
    margin-left:-15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sb{
    margin-left: -2rem;
}
.nav-link {
 color:var(--text-color--)!important;
 font-size:20px;
 
}
.active{
    background-color:rgb(253, 17, 162);
    color:white!important;
}
.nav-link:hover{
    background-color:rgb(253, 17, 162);
    color:rgb(248, 245, 240) !important;
    border-radius: 10px;
}
.logo1{
    width:100px;
}
.soustitre{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color:rgb(228, 222, 222);
    color:rgb(45, 45, 100);
    border-radius: 20px;
}
h4{
    color:green;
    padding-top:40px;
}

/* start section */
.carousel{
    bottom:24rem;
    width: 500px !important;
}

@media screen and (max-width: 768px){
    .carousel{
        bottom:0px;
        width: 300px !important;
    }
    
}
@media screen and (min-width: 768px){
    .carousel{
        bottom:20rem;
        width: 300px !important;
    }
    .imgcontent{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -245px;
        margin-left: 5rem;
    }
}
@media screen and (min-width: 992px){
    .carousel{
        bottom:24rem;
        width: 460px !important;
    }
    .imgcontent{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -245px;
        margin-left: -4rem;
    }
}

/* end section */
/* ****************************************************** */
/* start section 2 */
.competance{
    display:flex;
    margin:10px auto;
    justify-content: center;

}
.h-1{
    color:var(--text-color--);
    text-decoration: underline;
}

.adresse{
    text-align:center;
    font-weight:bold;
    background-color:#eee;
    border-radius:20px;
}
.photo{
    display:flex;
    align-items:center;
    justify-content:center;
}
/* end section 2 */
/* start skills */
.progresse{
    position:relative;
    width:350px;
    height:30px;
    background-color: white;
    margin:10px;
}
.progresse span{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    background-color: blue;
    border-radius: 0px 10px 10px 0px;
    transition: width 0.3s linear;
    color:white;
    font-size:20px;
}

.imgProgress{
    width:400px;
}
h2{
    color:var(--text-color--);
    text-transform: capitalize;
    text-decoration: underline;
}
/* end skills */


